<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Poke Fetch</title>
  </head>
  <body>
    Welcome to pokefetch
    <form action="">
      <input id="search" required type="text" />
      <button type="button" id="submit">search pokemon</button>
    </form>

    <div id="info">
      <!-- <% if(locals.message){%>
        <h1><%=locals.message%></h1>
    <%}%>

    <% if(locals.pokeData){%>
      <img src="<%=`${pokeData.photo}`%>"/>
      <h1>Types: <%= pokeData.types.join("/") %></h1>
      <ul>
        <li>hp: <%= pokeData.hp%></li>
        <li>attack: <%= pokeData.attack%></li>
        <li>defense: <%= pokeData.defense%></li>
        <li>special-attack: <%= pokeData.spAttack%></li>
        <li>special-defense: <%= pokeData.spDefense%></li>
        <li>speed : <%= pokeData.speed%></li>
      </ul>
    <%}%> -->

      <h1 class="invisible" id="error">Not Found</h1>

      <!-- Poke Stats -->
      <img src="" id="poke_img" />
      <h1 id="poke_types"></h1>
      <ul id="poke_stats">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
