.slider{
  text-align: center;
  margin:auto;
  position: relative;
}

.slider-wrapper{
  margin:0 auto;
  overflow:hidden;
  max-width: 672px;
  height: 731.619px;
  display:flex;
  position:relative;
}

.slide{
  transition: 0.2s;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide.active{
  display: block;
  animation: fadeVisibility 0.5s;
}

.slide > img{
  margin: 0 auto;
  width: 672px;
}

.slider-pagination{
  height: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding:0;
  list-style: none;
}

.slider-pagination-page{
  padding:4px;
  cursor: pointer;
  margin-left:10px;
  display: inline;
  background:white;
  border:1px solid black;
  border-radius: 5px;
  color:black;
}
.slider-pagination-page.active{
  background:#9BB0BF;
  color:black;
}

@keyframes fadeVisibility{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    transform:opacity linear;
  }
}



@media only screen and (max-width: 480px) {

  .slider-wrapper{
    max-width: 672px;
    height: 378.234px;
  } 
  .slide > img{
    margin: 0 auto;
    width: 100%;
  } 
}